<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>

<body>
    <div class="container">
        <form action="{% url 'changepassword' %}" method="POST">
            {% csrf_token %}
            <input type="email" name="userMail" id="" placeholder="enter your email">
            <div id="emailHelp" class="form-text">we'll send a verification code to this email or phone number if it
                matches an existing MyScore account</div>
            <button type="submit">next</button>
        </form>
        <p>{{message}}</p>
    </div>
</body>

</html>