<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password for {{request.user}}</title>
</head>

<body>
    <h4>{{message}}</h4>
    <form action="{% url 'checkkey' %}" method="post">
        {% csrf_token %}
        <input type="password" name="passwordChange" id="" placeholder="enter new password">
        <input type="password" name="passwordChange2" id="" placeholder="repeat new password">
        <button type="submit">change password</button>
    </form>
</body>

</html>